#g24_navbar.navbar-fixed-top {
    /* make room for plone.app.toolbar */
    /*top: 48px;*/
}

/* BOOTSTRAP BASIC */
body { padding-top: 60px; padding-bottom: 40px; }
.sidebar-nav { padding: 9px 0; }

/* PLONE BASIC */
.hiddenStructure { display:none; }

/* G24 STYLES */
#g24-logo a { display:block; /* logo dimensions should grow/shrink with svg embed */ }

#g24-searchbox form, #g24-searchbox input { margin:0; }
#g24-searchbox .searchButton { display:none; }
#g24-searchbox .searchSection label { display:inline; }

#g24-sidebar dl { margin:0; }
#g24-sidebar dt { margin-left:9px; margin-bottom:0.5em; font-size:1.2em; }

.portletFilterType dd a { font-size:1.1em; }
.portletFilterType dd a:after { content:' |'; }

#g24_filter_box { float:left; }

@media (max-width: 767px) {

}


/* LAYOUT */
#g24-sidebar { width: 20%; }
article.element { width: 32%; margin: 0 1% 1% 0; }
article.element header { word-wrap: break-word; }
article.element .body {
    min-height: 8em;
    width: 100%;
}
#portal-column-content {
    margin-left: 2%
    width: 78%;
}

/* SHARINGBOX STYLES */
fieldset#event select { width: auto; }
.sharingbox fieldset { float: left; margin-right: 1em; }
.sharingbox fieldset#features { float: none; }
.sharingbox .actions { clear: left;}
.sharingbox .geolocation input { display: block; }
.modal-footer { display: none; }
.modal-header { display: none; }
.modal-body { max-height: 1600px !important; }
.sharingbox .geolocation input { display: block; }

.sharingbox #event { width: 30%; }
.sharingbox #place { width: 20%; }

.sharingbox #place div.field:nth-child(3) {
    float:left;
    width: 20%;
}
.sharingbox #place div.field:nth-child(4) {
    float:left;
    width: 60%;
}
.sharingbox #place div.field:nth-child(5) {
    clear:left;
}

.sharingbox div.field {
    max-width: 100%; height: auto; min-width: 6em;
}
.sharingbox div.field input,
.sharingbox div.field .pat-select2 {
    width:100%;
}
